<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ryankanfer.WE.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>we</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSContactsUsageDescription</key>
	<string>When you ask me to call or text someone, I look them up in your contacts to find the number. I look for the one name you asked about, I do not read the rest of your address book, and I do not keep a copy.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Newsreader_14pt-Light.ttf</string>
		<string>Newsreader_14pt-LightItalic.ttf</string>
		<string>Newsreader_14pt-Regular.ttf</string>
		<string>Newsreader_14pt-Italic.ttf</string>
		<string>Newsreader_36pt-Light.ttf</string>
		<string>Newsreader_36pt-LightItalic.ttf</string>
		<string>Newsreader_36pt-Regular.ttf</string>
		<string>Newsreader_36pt-Italic.ttf</string>
		<string>DMSans-9pt.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>WEShareInboxEnabled</key>
	<string>$(WE_SHARE_INBOX_ENABLED)</string>
	<key>WESharedJourneysEnabled</key>
	<string>$(WE_SHARED_JOURNEYS_ENABLED)</string>
	<key>WESupportURL</key>
	<string>https://we-privacy-policy.kanfery.chatgpt.site</string>
	<key>WESupportEmail</key>
	<string>kanfer.ryan@gmail.com</string>
</dict>
</plist>
